<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>ToDoリスト</title>
  </head>
  <body>
    <h1>ToDo登録</h1>
    <form action="/create" method="post">
      <p>タスク名</p>
      <input type="text" name="todoTitle">
      <p>タスク詳細</p>
      <input type="text" name="todoText">
      <p>
        <!-- 新規作成ボタン -->
        <input type="submit" value="作成">
      </p>
    </form>

    <h1>ToDoリスト</h1>
    <ul>
      <% todos.map(todo => { %>
        <li>
          <p><%= todo.title %></p>
          <p><%= todo.text %></p>
          <!-- 編集ボタン -->
          <a href="/edit/<%= todo.id %>">編集</a>

          <!-- 削除(完了)ボタン -->
          <form action="/delete/<%= todo.id %>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="完了">
          </form>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
