<!DOCTYPE html>
<html>
  <head>
    <title>ToDo App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style.js' />
  </head>
  <body>
    <h1>ToDo</h1>
    <div id="modal" class="modal js-modal">
      <div class="js-modal-close"></div>
      <div class="modal-content">
        <p>有料登録しませんか？ </p>
        <p>このサービスに登録するとこんな機能が追加されます。</p>
        <ul>
          <li>タスクの編集機能</li>
          <li>期限通知機能</li>
          <li>他サービスとの連携</li>
        </ul>
      <a href="#" class="js-modal-close">OK</a>
      </div>
    </div>
  </body>
</html>
