<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>ToDoリスト</title>
  </head>
  <body>
    <h1>ToDoリスト</h1>
    <ul>
      <% todos.map(todo => { %>
        <li>
          <p><%= todo.title %></p>
          <p><%= todo.text %></p>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
