body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
}

.modal {
  display: none;
  margin: 0 auto;
  position: fixed;
  max-width: 500px;
  height: 0;
	left: 0;
	right: 0;
}

.modal__content {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
  padding: 20px;
}

.js-modal__close {
  color: #009688;
  text-decoration: none;
}

