body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.modal {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-content {
  background: #fff;
  top: 0;
  left: 50%;
  position: absolute;
  width: 50%;
  transform: translate(-50%,0);
}

.show {
  display: block;
}